parameters:
    level: max
    paths:
        - src
        - tests
        - examples
    checkBenevolentUnionTypes: true
    editorUrl: '=>'
    editorUrlTitle: '%%file%%:%%line%%'
    tmpDir: ./var/phpstan
